$sidebar-bg-color: #069A8E;
$sidebar-color: #FAF9F6  !default;
$icon-bg-color: #2f4f4f  !default;
$icon-size: 50px !default;
$submenu-bg-color: #2f4f4f !default;
$sidebar-collapsed-width: 90px !default;
@import '~react-pro-sidebar/dist/scss/styles.scss';